/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

// Solarized colors
$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;

// Override theme settings (see ../template/settings.scss)
$systemFontsMono:
  Menlo,
  Consolas,
  Monaco,
  Liberation Mono,
  Lucida Console,
  monospace;
$codeFont: "Fira Code", $systemFontsMono;
$mainColor: $base00;
$headingColor: $base01;
$headingTextShadow: none;
$backgroundColor: $base3;
$linkColor: $blue;
$linkColorHover: lighten($linkColor, 20%);
$selectionBackgroundColor: $magenta;

$overlayElementBgColor: 0, 0, 0;
$overlayElementFgColor: 240, 240, 240;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal h2 {
  border-bottom: 2px solid #{$cyan};
  display: inline-block;
  padding-bottom: 0.15em;
}

.reveal .quote {
  background: #{$base2};
  border-left: 3px solid #{$cyan};
  padding: 10px 16px;
  border-radius: 0 4px 4px 0;
}

.reveal pre {
  background: #{$base02};
}

.hljs {
  background: #073642;
  color: #839496;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
  color: #268bd2;
  font-weight: bold;
}
.hljs-subst {
  color: #839496;
}
.hljs-string,
.hljs-addition,
.hljs-link {
  color: #2aa198;
}
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-symbol,
.hljs-attribute,
.hljs-built_in,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #cb4b16;
}
.hljs-bullet {
  color: #268bd2;
}
.hljs-number {
  color: #d33682;
}
.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #586e75;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-name,
.hljs-selector-id,
.hljs-strong {
  font-weight: bold;
}
.hljs-emphasis {
  font-style: italic;
}
